<!-- 
 
    @file        viewcustomerfeedback.ejs
    @description this component is used to display the customer's feedbacks to the admin personnel using the application
    @author      Kevin Ma
    @date        2018.03.06

  -->

<% include ./partials/header %>

    <div class="row border" style="background-color:#f7f7f7;">
        <div class="col border-right">
            <h4>Customer Name</h4>
        </div>
        <div class="col border-right">
            <h4>Customer Email</h4>
        </div>
        <div class="col border-right">
            <h4>Customer Feedback</h4>
        </div>
        <div class="col">
            <h4>Feedback Date</h4>
        </div>
    </div>

    <% for(let i=0; i < customers.length; i++) { %>
        <!-- for each customer display all their feedback -->
        <% for(let a=0; a < customers[i].feedbacks.length; a++) { %>

            <div class="row">
                <div class="col border-right border-left border-bottom">
                    <p>
                        <%= customers[i].fullName %>
                    </p>
                </div>
                <div class="col border-right border-bottom">
                    <p>
                        <%= customers[i].email %>
                    </p>
                </div>
                <div class="col border-right border-bottom">
                    <p>
                        <%= customers[i].feedbacks[a].comments %>
                            <!-- <%= customers[i].email %> -->
                    </p>
                </div>
                <div class="col border-right border-bottom">
                    <p>
                        <%= customers[i].feedbacks[a].created %>
                            <!-- <%= customers[i].email %> -->
                    </p>
                </div>
            </div>
            <% } %>

                <% } %>

                    <br>
                    <div class="row">
                        <div class="col-4 offset-4">
                            <div class="btn-group d-flex">
                                <a href="/" class="btn btn-outline-info w-100">Return to Home</a>
                            </div>
                        </div>
                    </div>

                    <% include ./partials/footer %>